<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="qrcode.css.less">
	<title>QR Test</title>
</head>
<body>
	<h1>QR Teste</h1>
	<%= render_qr_code("https://www.facebook.com/") %>
</body>
</html>