<!DOCTYPE html>
<html>
<head>
	<link href="assets/qrcode.css.less" rel="stylesheet">
	
	<title>QR Test</title>
</head>
<body>
	<h1>QR Teste</h1>
	<%= render_qr_code("https://blockchain.info/qr?data=bitcoin:1D5WrcV35FhKYM74FPVmzm1PJiZYJuoAPR?amount=1.00%26label=example%2520label") %>
</body>
</html>